:root {
  --tile-container-width: min(calc(70vw - 200px), 70vh);
  --tile-width: calc(var(--tile-container-width) / 5);
  --border-width: calc(var(--tile-width) / 25);
  --header-height: 60px;
  --sidebar-width: 200px;
}

a {
  color: rgb(96, 165, 250);
  transition: all 0.2s;
}

a:hover {
  color: rgb(59, 130, 246);
  font-size: 20px;
}

a:visited {
  color: rgb(167, 139, 250);
}

.text-font {
  font-family: 'RegularFont', 'MaplestoryLight', 'sans-serif';
}

.title-font {
  font-family: 'MaplestoryLight', 'RegularFont', 'sans-serif';
  font-weight: bold;
}

.rainbow {
  background: linear-gradient(40deg, #ff8a8a 20%, #f771d1 40%, #a18aff 60%, #4cd2ff 80%, #6afc82 100%);
}

.rainbow-border {
  border: 5px solid transparent;
  background-image: linear-gradient(#eee, #eee), linear-gradient(40deg, #ff8a8a 20%, #f771d1 40%, #a18aff 60%, #4cd2ff 80%, #6afc82 100%);
  background-clip: content-box, border-box;
  background-origin: border-box;
}

#setting {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

@keyframes make-gap {
  0% {
    gap: 0px;
  }
  50% {
    gap: 5px;
  }
  100% {
    gap: 0px;
  }
}

#tile-container-animation {
  animation: make-gap 0.3s ease-in-out;
  animation-direction: alternate;
}
