@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MaplestoryLight';
  src: url('./fonts/MaplestoryLight.ttf') format('truetype');
}

@font-face {
  font-family: 'RegularFont';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/tmoney/TmoneyRoundWind-Regular.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/tmoney/TmoneyRoundWind-Regular.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/tmoney/TmoneyRoundWind-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/tmoney/TmoneyRoundWind-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/tmoney/TmoneyRoundWind-Regular.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'D2Coding', 'monospace';
  src: url('./fonts/D2Coding.ttf') format('truetype');
}


::-webkit-scrollbar {
  width: 16px;  
  height: 16px;  
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(40deg, #ff8a8a 20%, #f771d1 40%, #a18aff 60%, #4cd2ff 80%, #6afc82 100%); /* 스크롤바 막대 색상 */
  border-radius: 10px;
  border: 6px solid #FFFFFF;
}
::-webkit-scrollbar-corner {
  background-color: #0000;
}